.gallery {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 20px;
    row-gap: 50px;
    justify-items: center;

    .card {
        width: 100%;
        
        img {
            width: 100%;
        }
        .card-body {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            background-color: darkgray;
        }
    }
}
