<section class="container">
    <h1>Giphie Gallery</h1>
    <section class="row">
        <app-filter [value]="filter" (updateFilterValue)="updateWithFilter($event)"></app-filter>
    </section>
    <section class="d-flex justify-content-center">
        <ngb-pagination
            *ngIf="pagination"
            [(page)]="pagination.currentPage"
            [pageSize]="pagination.itemsPerPage"
            [collectionSize]="pagination.totalItems"
            [maxSize]="5"
            (pageChange)="updateData()"
            [ellipses]="false"
        ></ngb-pagination>
    </section>
    <section class="row">
        <app-gallery class="col" [images]="images"></app-gallery>
    </section>
</section>
