<section class="container">
    <h1>Library</h1>
    <form class="row" [formGroup]="filterForm" (ngSubmit)="filter()">
        <div class="col">
            <div class="form-group">
                <label for="filter">Filter</label>
                <input
                    type="text"
                    class="form-control"
                    id="filter"
                    placeholder="Enter filter"
                    formControlName="filter"
                />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    <ngb-pagination
        class="row"
        [(page)]="page"
        [pageSize]="pageSize"
        [collectionSize]="collectionSize"
        (pageChange)="onPageChange()"
    ></ngb-pagination>
    <section class="preview row">
        <div *ngFor="let image of images" class="card">
            <img class="card-img-top" [src]="image.images.original.url" alt="Card image cap" />
            <div class="card-body">
                <h5 class="card-title">{{ image.title }}</h5>
                <p class="card-text">
                    {{ image.source_tld }}
                </p>
                <a [href]="image.url" target="_blank" class="btn btn-primary">Open</a>
            </div>
        </div>
    </section>
</section>
